* {
  font-family: Arial, Helvetica, sans-serif;
}

body,
h1,
h2 {
  margin: 0;
}

button:active {
  transform: translateY(2px);
}

.hidden {
  display: none !important;
}

.rounded {
  border-radius: 4px;
}

.justify-end {
  display: flex;
  justify-content: flex-end;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(64, 64, 64, 0.5);
}

.modal-box {
  border: 2px solid black;
  background-color: white;
  padding: 1rem 2rem;
  width: 50%;
  max-width: 500px;
}

.description {
  width: 100%;
  height: 4rem;
  resize: none;
  padding: 0.5rem;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.center-text {
  text-align: center;
}

.nav-days {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
}

.day-button {
  background-color: whitesmoke;
  width: 100px;
  height: 100px;
}

.day-button:hover {
  background-color: lightgray;
  cursor: pointer;
}

.entry-button {
  margin: 3rem 0;
  padding: 0.5rem 2rem;
}
